@import "tailwindcss";

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 1rem);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top, 1rem);
  }
}

/* Native App Feel */
html, body {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

input, select, textarea {
  font-size: 16px; /* Prevents auto-zoom on iOS inputs */
}
